<%- include('header_admin.ejs', { pageTitle: 'Modification Jardin' }) %>

<main class="container mt-5">
  <h1>Modifier le jardin <%= jardin.nom %></h1>
  
  <!-- Formulaire de modification de jardin -->
  <form action="/admin/modifier_jardin/<%= jardin.id %>" method="POST">
    <!-- Champ caché pour l'ID du jardin -->
    <input type="hidden" name="id_jardin" value="<%= jardin.id %>">
    
    <!-- Champ pour le nom du jardin -->
    <div class="form-group">
      <label for="nom">Nom du jardin :</label>
      <input type="text" class="form-control" id="nom" name="nom" value="<%= jardin.nom %>" required>
    </div>

    <!-- Champ pour l'adresse du jardin -->
    <div class="form-group">
      <label for="adresse">Adresse du jardin :</label>
      <input type="text" class="form-control" id="adresse" name="adresse" value="<%= jardin.localisation %>" required>
    </div>

    <!-- Champ pour la taille du jardin en m² -->
    <div class="form-group">
      <label for="taille">Taille du jardin (en m²) :</label>
      <input type="number" class="form-control" id="taille" name="taille" value="<%= jardin.taille %>" min="1" required>
    </div>

    <!-- Bouton de soumission -->
    <button type="submit" class="btn btn-primary mt-3">Enregistrer les modifications</button>
  </form>
</main>

<%- include('footer.ejs') %>
